<a href="https://colab.research.google.com/github/bhutadaneha92/Python-Basic-codes/blob/main/Data_structure_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
set1 = {"Neha",2,3,4.0}
#add()
set1.add("Tejas") #add single element
set1.add(9)
print(set1)

#update
set1.update([1,2,3],[5,6,7]) #add multiple element
print(set1)
#set1.update(10,11)
#print(set1)

#discard()
set1.discard(2)  #remove the element
print(set1)
set1.discard(14)  #does not raise an error if element is not present
print(set1)

#remove()
set1.remove(4)  #remove the element
print(set1)
set1.remove(14)  #raise an error if element is not present
print(set1)

{2, 3, 4.0, 9, 'Tejas', 'Neha'}
{1, 2, 3, 4.0, 5, 6, 7, 9, 'Tejas', 'Neha'}
{1, 3, 4.0, 5, 6, 7, 9, 'Tejas', 'Neha'}
{1, 3, 4.0, 5, 6, 7, 9, 'Tejas', 'Neha'}
{1, 3, 5, 6, 7, 9, 'Tejas', 'Neha'}

KeyError: 14

In [ ]:
set1 = {"Neha",2,3,4.0}

#pop()- removing last element from a set
x= set1.pop()
print(x)
print(set1)
x1= set1.pop()
print(x1)

Neha
{2, 3, 4.0}
2

In [ ]:
set1 = {"Neha",2,3,4.0}
print(set1)

#clear() - remove all the elements of set
set1.clear()
print(set1)

#del - delete set from memory
del set1
print(set1)

{'Neha', 2, 3, 4.0}
set()

NameError: name 'set1' is not defined

In [ ]:
A = {1,2,3,4}
B = {4,5,6,7}
#union()
x= A.union(B) #1st method
print("union=",x)
print("union2nd =",A|B)  #2nd method

#intersection()
x= A.intersection(B) #1st method
print("intersection=",x)
print("intersection2nd =",A&B)  #2nd method

#difference()
x= A.difference(B) #1st method
print("difference=",x)
print("difference2nd =",A-B)  #2nd method

#symmetric_difference()
x= A.symmetric_difference(B) #1st method
print("symmetric_difference=",x)
print("symmetric_difference2nd =",A^B)  #2nd method

union= {1, 2, 3, 4, 5, 6, 7}
union2nd = {1, 2, 3, 4, 5, 6, 7}
intersection= {4}
intersection2nd = {4}
difference= {1, 2, 3}
difference2nd = {1, 2, 3}
symmetric_difference= {1, 2, 3, 5, 6, 7}
symmetric_difference2nd = {1, 2, 3, 5, 6, 7}

In [ ]:
a=set(91,2,3,4)

print(a*3)

TypeError: set expected at most 1 argument, got 4

Mr. Aakash is the manager at the star hotel. The hotel has an infinite amount of rooms. One fine day, a finite number of tourists come to stay at the hotel. The tourists consist of: → A Captain. → An unknown number of member The Captain was given a separate room, and the rest were given one room per member Mr. Aakash has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear many times in list for members except the Captain's room will appear only once in list. Mr. Aakash needs you to help him find the Captain's room number.let room number be : 1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

In [ ]:
a = [1,2,3,6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
print(a)
d = dict()

for room in a:
  d[room] = d.get(room,0) + 1
print(d)

for k,v in d.items():
  if v==1:
    print("Captain room number = ", k)
  else:
    continue

[1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
{1: 5, 2: 5, 3: 5, 6: 5, 5: 5, 4: 5, 8: 1}
Captain room number =  8

In [ ]:


def find_captains_room(rooms_list):
    room_dict = {}
    for room in rooms_list:
        if room in room_dict:
            room_dict[room] += 1
        else:
            room_dict[room] = 1

    for room, count in room_dict.items():
        if count == 1:
            return room

# Example usage:
room_numbers = [1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
captains_room = find_captains_room(room_numbers)
print("Captain's room number is:", captains_room)

Captain's room number is: 8